<div class="bg-light-50 w-full flex flex-col items-center h-full">
    <div class="flex justify-between items-center w-full pr-4 bg-white">
        <tds-page-header title="Giao hàng loạt">
            <tds-breadcrumb tds-page-header-breadcrumb>
                <tds-breadcrumb-item>Quản lý vận chuyển</tds-breadcrumb-item>
                <tds-breadcrumb-item>
                    <a>giao hàng loạt</a>
                </tds-breadcrumb-item>
                <!-- <tds-breadcrumb-item>Third-level Menu</tds-breadcrumb-item> -->
            </tds-breadcrumb>
        </tds-page-header>
        
    </div>
    <div class="p-4 flex flex-col justify-center items-center w-full">
        <!-- Giao hàng nhanh -->
        <div class="w-4/5 flex bg-white border rounded-md p-4">
            <div class="flex items-center w-1/2 pr-14 border-r">
                <div class="w-1/2 flex items-center">
                    <div>
                        <img src="/assets/img/giaohangnhanh.png" alt="">
                    </div>
                    <h1 class="text-header-1 font-semibold ml-2" (click)="openTransportaion()">Giao hàng nhanh</h1>
                </div>
                <div class="w-1/2 flex flex-col items-start">
                    <h1 class="text-heading-4 font-semibold text-success-400 mr-2">100</h1>
                    <div class="text-caption-1 font-regular text-neutral-1-400 flex items-center">
                        <i class="tdsi-bag-success-line text-header-2 mr-2"></i>
                        <span>Đơn hàng giao thành công</span>
                    </div>
                </div>
            </div>
            <div class="w-1/2 flex items-center">
                <div class="w-2/5 flex flex-col items-start  border-r px-6">
                    <h1 class="text-heading-4 font-semibold text-error-400 mr-2">20</h1>
                    <div class="text-caption-1 font-regular text-neutral-1-400 flex items-center">
                        <i class="tdsi-warning-line text-header-2 mr-2"></i>
                        <span>Đơn hàng giao thành công</span>
                    </div>
                </div>
                <div class="w-2/5 flex flex-col items-start pl-6">
                    <h1 class="text-heading-4 font-semibold text-warning-400 mr-2">20</h1>
                    <div class="text-caption-1 font-regular text-neutral-1-400 flex items-center">
                        <i class="tdsi-star-line text-header-2 mr-2"></i>
                        <span>Đơn hàng giao thành công</span>
                    </div>
                </div>
                <div class="w-1/5 flex justify-end ">
                    <tds-switch size="md" [checked]="true"></tds-switch>
                </div>
            </div>
        </div>
        <!-- VietNam Post -->
        <div class="w-4/5 flex bg-white border rounded-md p-4 mt-4">
            <div class="flex items-center w-1/2 pr-14 border-r">
                <div class="w-1/2 flex items-center">
                    <div>
                        <img src="/assets/img/vietnampost.png" alt="">
                    </div>
                    <h1 class="text-header-1 font-semibold ml-2" (click)="openTransportaion()">VietNam Post</h1>
                </div>
                <div class="w-1/2 flex flex-col items-start">
                    <h1 class="text-heading-4 font-semibold text-success-400 mr-2">100</h1>
                    <div class="text-caption-1 font-regular text-neutral-1-400 flex items-center">
                        <i class="tdsi-bag-success-line text-header-2 mr-2"></i>
                        <span>Đơn hàng giao thành công</span>
                    </div>
                </div>
            </div>
            <div class="w-1/2 flex items-center">
                <div class="w-2/5 flex flex-col items-start  border-r px-6">
                    <h1 class="text-heading-4 font-semibold text-error-400 mr-2">20</h1>
                    <div class="text-caption-1 font-regular text-neutral-1-400 flex items-center">
                        <i class="tdsi-warning-line text-header-2 mr-2"></i>
                        <span>Đơn hàng giao thành công</span>
                    </div>
                </div>
                <div class="w-2/5 flex flex-col items-start pl-6">
                    <h1 class="text-heading-4 font-semibold text-warning-400 mr-2">20</h1>
                    <div class="text-caption-1 font-regular text-neutral-1-400 flex items-center">
                        <i class="tdsi-star-line text-header-2 mr-2"></i>
                        <span>Đơn hàng giao thành công</span>
                    </div>
                </div>
                <div class="w-1/5 flex justify-end ">
                    <tds-switch size="md" [checked]="true"></tds-switch>
                </div>
            </div>
        </div>
        <!-- Giao hàng tiết kiệm -->
        <div class="w-4/5 flex bg-white border rounded-md p-4 mt-4">
            <div class="flex items-center w-1/2 pr-14 border-r">
                <div class="w-1/2 flex items-center">
                    <div class="w-14 h-14">
                        <img src="/assets/img/Rectangle 272ss8.png" alt="">
                    </div>
                    <h1 class="text-header-1 font-semibold ml-2" (click)="openTransportaion()">Giao hàng tiết kiệm</h1>
                </div>
                <div class="w-1/2 flex flex-col items-start">
                    <h1 class="text-heading-4 font-semibold text-success-400 mr-2">100</h1>
                    <div class="text-caption-1 font-regular text-neutral-1-400 flex items-center">
                        <i class="tdsi-bag-success-line text-header-2 mr-2"></i>
                        <span>Đơn hàng giao thành công</span>
                    </div>
                </div>
            </div>
            <div class="w-1/2 flex items-center">
                <div class="w-2/5 flex flex-col items-start  border-r px-6">
                    <h1 class="text-heading-4 font-semibold text-error-400 mr-2">20</h1>
                    <div class="text-caption-1 font-regular text-neutral-1-400 flex items-center">
                        <i class="tdsi-warning-line text-header-2 mr-2"></i>
                        <span>Đơn hàng giao thành công</span>
                    </div>
                </div>
                <div class="w-2/5 flex flex-col items-start pl-6">
                    <h1 class="text-heading-4 font-semibold text-warning-400 mr-2">20</h1>
                    <div class="text-caption-1 font-regular text-neutral-1-400 flex items-center">
                        <i class="tdsi-star-line text-header-2 mr-2"></i>
                        <span>Đơn hàng giao thành công</span>
                    </div>
                </div>
                <div class="w-1/5 flex justify-end ">
                    <tds-switch size="md" [checked]="true"></tds-switch>
                </div>
            </div>
        </div>
    </div>
</div>