<div class="text-neutral-1-900">
    <div class="p-4 bg-white font-semibold text-header-1">
        <h1>Thêm sản phẩm</h1>
    </div>
    <div class="p-4 flex">
        <div class="w-1/2">
            <div class="flex justify-between items-center p-4 border rounded-md bg-white mb-4">
                <div class="flex justify-between items-center">
                    <i class="tdsi-edit-line text-neutral-1-500 text-heading-1 mr-4"></i>
                    <div>
                        <h1 class="text-header-1 font-semibold">Tạo sản phẩm mới</h1>
                        <span class="text-body-2 font-regular text-neutral-1-700">Nhập tất cả thông tin về sản phẩm của bạn</span>
                    </div>
                </div>
                <div>
                    <button routerLink="/pages/sanpham/themsanpham/taosanphammoi" tds-button color="primary" size="md">Bắt đầu</button>
                </div>
            </div>
            <div class="flex justify-between items-center p-4 border rounded-md bg-white">
                <div class="flex justify-between items-center">
                    <i class="tdsi-search-line text-neutral-1-500 text-heading-1 mr-4"></i>
                    <div>
                        <h1 class="text-header-1 font-semibold">Đăng bán sản phẩm có sẵn</h1>
                        <span class="text-body-2 font-regular text-neutral-1-700">Đăng bán sản phẩm có sẵn trong danh sách của Tshop</span>
                    </div>
                </div>
                <div>
                    <button tds-button color="primary" size="md">Bắt đầu</button>
                </div>
            </div>
        </div>
        <div class="w-1/2 border rounded-md bg-white ml-4 py-4 flex flex-col justify-between items-center">
            <i class="tdsi-table-add-line text-neutral-1-500 text-heading-1"></i>
            <h1 class="text-header-1 font-semibold">Tạo sản phẩm hàng loạt</h1>
            <span class="text-body-2 font-regular">Sử dụng lưới dữ liệu để tạo một lúc nhiều sản phẩm</span>
            <button tds-button color="primary" size="md">Bắt đầu</button>
        </div>
    </div>
</div>