<div class="w-full h-full flex justify-center items-center">
    <div class="2xl:w-3/5 xl:w-3/5 md:w-2/3 sm:w-3/4 flex justify-center bg-white shadow-lg rounded-md text-neutral-1-900  lg:p-16 md:p-12 sm:p-8">
        <div class="w-1/2 h-full">
            <div>
                <img class="w-full" src="/assets/img/Login.png" alt="">
            </div>
            <div class="text-center mt-10 flex flex-col justify-center items-center">
                <h1 class="lg:text-heading-1 md:text-heading-2 sm:text-heading-3 font-semibold">Bán hàng chuyên nghiệp</h1>
                <div>
                    <p class="text-title-1 font-medium">Quản lý shop của bạn một cách hiệu quả hơn trên <span
                            class="text-primary-1">Tshop seller center</span> - Kênh người bán</p>
                </div>
            </div>
        </div>
        <div class="w-1/2 flex justify-center items-center">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="w-11/12 shadow-md border border-neutral-2-200 px-8 py-8">

                <h1 class="lg:text-heading-2 md:text-heading-3 sm:text-heading-4 font-semibold">Đăng Nhập</h1>

                <tds-form-field class="mt-9">
                    <tds-label>Tài khoản</tds-label>
                    <input class="w-full" tdsInput placeholder="Nhập số điện thoại" size="md" formControlName="username" [required]="true" />
                    <tds-error>Số điện thoại không hợp lệ</tds-error>
                </tds-form-field>

                <tds-form-field class="mt-9">
                    <tds-label>Mật Khẩu</tds-label>
                    <input class="w-full" tdsInput placeholder="Nhập mật khẩu" type="password" size="md" formControlName="password" [required]="true" />
                    <tds-error>Vui lòng nhập mật khẩu</tds-error>
                </tds-form-field>

                <div class="mt-5 flex items-center justify-between">
                    <tds-checkbox class="text-neutral-1-700 text-title-1 font-medium">Ghi nhớ tài khoản</tds-checkbox>
                    <a routerLink="/account/quenmatkhau/dat-lai-mat-khau" class="text-primary-1 text-body-1 font-regular">Quên mật khẩu</a>
                </div>

                <button (click)="loginWithPassword()" type="button" class="w-full mt-9" tds-button color="primary">Đăng nhập</button>

            </form>
        </div>
    </div>
</div>