<div class="bg-white">
    <tds-page-header title="Thiết lập shop">
        <tds-breadcrumb tds-page-header-breadcrumb>
            <tds-breadcrumb-item>Cấu hình tài khoản</tds-breadcrumb-item>
            <tds-breadcrumb-item>
                <a>Thiết lập shop</a>
            </tds-breadcrumb-item>
            <!-- <tds-breadcrumb-item>Third-level Menu</tds-breadcrumb-item> -->
        </tds-breadcrumb>
    </tds-page-header>
</div>
<div class="p-4 text-neutral-1-900 flex flex-col items-center w-full">
    <div class="bg-white border rounded-md w-4/5">
        <div class="p-4 text-header-1 font-semibold border-b">
            <h1>1. Thiết lập cơ bản</h1>
        </div>
        <div class="flex justify-between items-center p-4">
            <div class="flex items-center">
                <i class="tdsi-security-line text-neutral-1-300 text-heading-2 mr-4"></i>
                <div class="flex flex-col justify-between">
                    <span class="text-title-1 font-medium">Bảo vệ tài khoản của shop ngay bây giờ bằng cách xác minh hoạt động đáng ngờ</span>
                    <span class="text-body-2 font-regular text-neutral-1-400">Trong trường hợp hoạt động có rủi ro cao, hãy xác minh hoạt động với OTP</span>
                </div>
            </div>
            <div>
                <tds-switch size="md"></tds-switch>
            </div>
        </div>
    </div>
    <div class="bg-white border rounded-md w-4/5 mt-4">
        <div class="p-4 text-header-1 font-semibold border-b">
            <h1>2. Cài đặt thông báo</h1>
        </div>
        <div class="px-4">
            <div class="border-b py-4">
                <div class="flex justify-between items-center">
                    <div class="flex items-center">
                        <i class="tdsi-security-line text-neutral-1-300 text-heading-2 mr-4"></i>
                        <div class="flex flex-col justify-between">
                            <span class="text-title-1 font-medium">Bảo vệ tài khoản của shop ngay bây giờ bằng cách xác minh hoạt động đáng ngờ</span>
                            <span class="text-body-2 font-regular text-neutral-1-400">Trong trường hợp hoạt động có rủi ro cao, hãy xác minh hoạt động với OTP</span>
                        </div>
                    </div>
                    <div>
                        <tds-switch size="md"></tds-switch>
                    </div>
                </div>
            </div>
            <div>

            </div>
        </div>
        <div class="pl-16 pr-4">
            <div class="py-4 flex justify-between items-center border-b">
                <div class="flex items-center">
                    <i class="tdsi-bag-line text-neutral-1-300 text-heading-3 mr-5"></i>
                    <h1 class="text-title-1 font-medium">Cập nhật đơn hàng</h1>
                </div>
                <div>
                    <tds-switch size="md"></tds-switch>
                </div>
            </div>
            <div class="py-4 flex justify-between items-center border-b">
                <div class="flex items-center">
                    <i class="tdsi-product-line text-neutral-1-300 text-heading-3 mr-5"></i>
                    <h1 class="text-title-1 font-medium">Cập nhật sản phẩm</h1>
                </div>
                <div>
                    <tds-switch size="md"></tds-switch>
                </div>
            </div>
            <div class="py-4 flex justify-between items-center border-b mb-4">
                <div class="flex items-center">
                    <i class="tdsi-user-line text-neutral-1-300 text-heading-3 mr-5"></i>
                    <h1 class="text-title-1 font-medium">Nội dung cá nhân</h1>
                </div>
                <div>
                    <tds-switch size="md"></tds-switch>
                </div>
            </div>
        </div>
    </div>
</div>