<div class="text-neutral-1-900">
    <div class="flex bg-white justify-between items-center">
        <div>
            <tds-page-header title="Hồ sơ shop">
                <tds-breadcrumb tds-page-header-breadcrumb>
                    <tds-breadcrumb-item>Quản lý shop</tds-breadcrumb-item>
                    <tds-breadcrumb-item>
                        <a>Hồ sơ shop</a>
                    </tds-breadcrumb-item>
                    <!-- <tds-breadcrumb-item>Third-level Menu</tds-breadcrumb-item> -->
                </tds-breadcrumb>
            </tds-page-header>
        </div>
        <div class="px-4 flex items-center">
            <button (click)="saveEditProfileShop()" class="mr-3" tds-button color="primary">
                <span class="flex items-center">
                    <i class="tdsi-save-fill text-lg leading-none mr-2 text-white"></i>Lưu
                </span>
            </button>
            <button tds-button color="secondary">
                <span class="flex items-center">
                    Hủy
                </span>
            </button>
        </div>
    </div>
    <div class="py-4 flex justify-center">
        <div class="w-4/5">
            <img src="/assets/img/Frame 11145.png" alt="">
        </div>
    </div>
</div>