<div class="bg-light-50 w-full flex flex-col items-center h-full">
    <div class="flex justify-between items-center w-full pr-4 bg-white">
        <tds-page-header title="Danh sách đơn hàng">
            <tds-breadcrumb tds-page-header-breadcrumb>
                <tds-breadcrumb-item>Đơn hàng</tds-breadcrumb-item>
                <tds-breadcrumb-item>
                    <a>Danh sách đơn hàng</a>
                </tds-breadcrumb-item>
                <!-- <tds-breadcrumb-item>Third-level Menu</tds-breadcrumb-item> -->
            </tds-breadcrumb>
        </tds-page-header>
        <div class="flex">
            <button class="flex items-center" tds-button color="primary" size="md">
                <i class="tdsi-export-file-fill text-header-2 text-white mr-2"></i>
                Xuất file đơn hàng
            </button>
        </div>
    </div>
    <div class="px-4 py-4 w-full h-full">
        <div class="border rounded-md bg-white pb-2 h-full flex flex-col">
            <div class="flex justify-between items-center px-4">
                <tds-filter-status [ngModel]='1' (selectChange)="onSelectChange($event)">
                    <tds-filter-status-item name='Tất cả' [value]='1' [count]='10'>
                    </tds-filter-status-item>
                    <tds-filter-status-item name='Chờ xác nhận' [value]='2' [count]='20'>
                    </tds-filter-status-item>
                    <tds-filter-status-item name='Chờ lấy hàng' [value]='3' [count]='20'>
                    </tds-filter-status-item>
                    <tds-filter-status-item name='Đang giao' [value]='4' [count]='50'>
                    </tds-filter-status-item>
                    <tds-filter-status-item name='Đã giao' [value]='5' [count]='15'>
                    </tds-filter-status-item>
                    <tds-filter-status-item name='Đã hủy' [value]='6' [count]='2'>
                    </tds-filter-status-item>
                </tds-filter-status>
                <tds-form-field>
                    <input tdsInput class="text-neutral-1-600 w-96" placeholder="Từ khóa" autocomplete="off" />
                    <span tdsPrefix><i class="text-neutral-1-600 tdsi-search-fill"></i></span>
                </tds-form-field>
            </div>
            <tds-table #table [listData]="listOfData" tableLayout="fixed" [scroll]="{y:'auto'}">
                <thead class="text-body-2 font-medium">
                    <tr>
                        <th width="50px"></th>
                        <th width="120px">Mã đơn hàng</th>
                        <th width="170px">Khách hàng</th>
                        <th width="100px">Tổng tiền</th>
                        <th width="194px">Trạng thái đơn hàng</th>
                        <th width="194px">Trạng thái thanh toán</th>
                        <th width="194px">Nhà vận chuyển</th>
                        <th width="120px">Ngày đặt hàng</th>
                        <th width="200px">Thao tác</th>
                    </tr>
                </thead>
                <tbody class="text-body-2 font-regular">
                    <ng-container *ngFor="let data of table.data">
                        <tr class="text-neutral-1-900 text-body-2 font-regular">
                            <td [expand]="expandSet.has(data.id)" (expandChange)="onExpandChange(data.id, $event)"></td>
                            <td>
                                <button routerLink="/pages/donhang/chitiet-donhang" tds-flat-button size="sm"
                                    class="text-primary-1 font-medium">{{data.orderCode}}</button>
                            </td>
                            <td>
                                {{ data.customer }}
                                <div class="flex justify-start items-center">
                                    <i class="tdsi-call-fill text-neutral-1-500 mr-1"></i>
                                    <span class="text-neutral-1-400">{{data.phonenumber}}</span>
                                </div>
                            </td>
                            <td><u class="text-body-2 font-regular text-neutral-1-400">đ</u> {{ data.total }}</td>
                            <td>
                                <tds-tag *ngIf="data.orderstatus=='Đã giao hàng'" status='success' type="outline" >{{data.orderstatus}}</tds-tag>
                                <tds-tag *ngIf="data.orderstatus=='Đã hủy'" status='error' type="outline">{{data.orderstatus}}</tds-tag>
                                <tds-tag *ngIf="data.orderstatus=='Đang giao hàng'" status='info' type="outline">{{data.orderstatus}}</tds-tag>
                                <tds-tag *ngIf="data.orderstatus=='Chờ xác nhận'" status='secondary' type="outline">{{data.orderstatus}}</tds-tag>
                                <tds-tag *ngIf="data.orderstatus=='Chờ lấy hàng'" status='warning' type="outline">{{data.orderstatus}}</tds-tag>
                            </td>
                            <td>
                                <div class="flex items-center">
                                    <div class="w-2 h-2 rounded-full mr-2"
                                        [ngClass]="{'bg-success-400':data.paymentstatus == 'Đã thanh toán','bg-error-400':data.paymentstatus == 'Chưa thanh toán'}">
                                    </div>
                                    {{ data.paymentstatus }}
                                </div>
                            </td>
                            <td>{{ data.trans }}</td>
                            <td>{{ data.orderdate }}</td>
                            <td>
                                <button *ngIf="data.operration" tds-button-flat color="info" size="sm" class="text-info-500">
                                    {{data.operration}}
                                </button>
                                <div *ngIf="data.operrationcomfirm && data.operrationcancel" class="flex items-center">
                                    <button tds-button-flat color="info" size="sm" class="text-info-500">
                                        {{data.operrationcomfirm}}
                                    </button>
                                    <span class="text-info-500">|</span>
                                    <button tds-button-flat color="info" size="sm" class="text-info-500">
                                        {{data.operrationcancel}}
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr [expand]="expandSet.has(data.id)" class="border-b border-neutral-2-100 text-neutral-1-900 bg-light-50">
                            <div class="bg-white rounded-md border">
                                <div class="flex justify-between items-center px-2 py-2 border-b">
                                    <h1 class="text-header-1 font-semibold text-neutral-1-900">Thông tin đơn hàng</h1>
                                    <button tds-button color="primary" size="sm">In hóa đơn</button>
                                </div>
                                <tds-table templateMode>
                                    <thead>
                                        <tr>
                                            <th>Ảnh</th>
                                            <th>Mã đơn hàng</th>
                                            <th>Tên sản phẩm</th>
                                            <th>Mã sản phẩm</th>
                                            <th>Đơn giá</th>
                                            <th>Số lượng</th>
                                            <th class="text-right">Thành tiền</th>
                                        </tr>
                                    </thead>
                <tbody>
                    <tr *ngFor="let data of inforOrders">
                        <td><tds-avatar  [shape]="'square'" [size]="'lg'" tdsSrc="error" [isAvatar]="false"></tds-avatar></td>
                        <td>{{data.ordercode}}</td>
                        <td>{{data.productname}}</td>
                        <td>{{data.productcode}}</td>
                        <td>{{data.unitprice}}</td>
                        <td>{{data.quality}}</td>
                        <td class="text-right"><u class="text-body-2 font-regular text-neutral-1-400">đ</u>
                            {{data.total}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="flex flex-col items-end text-body-2 font-regular text-neutral-1-900">
                                <span>2 sản phẩm</span>
                                <span>Phí giao hàng</span>
                                <span class="text-title-1 font-medium">Tổng tiền</span>
                            </div>
                        </td>
                        <td>
                            <div class="flex justify-end">
                                <div class="flex text-body-2 flex-col items-end font-medium text-neutral-1-900">
                                    <span><u class="text-body-2 font-regular text-neutral-1-400">đ</u> 2.400.000</span>
                                    <span><u class="text-body-2 font-regular text-neutral-1-400">đ</u> 2.400.000</span>
                                    <span class="text-header-2 font-semibold text-primary-1"><u
                                            class="text-body-2 font-regular text-neutral-1-400">đ</u> 2.700.000</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </tds-table>
        </div>
                        </tr>
                    </ng-container>
                </tbody>
            </tds-table>
        </div>
    </div>
</div>