<div class="flex h-screen w-full overflow-hidden">
    <!-- nav -->
    <div class="" [style.min-width.px]="!isCollapsed ? 260 : 64">
        <tds-menu [data]="lstMenu" [inlineCollapsed]="isCollapsed" [showLogo]="true"
            (onOpenChange)="onOpenChange($event)">
            <img src="assets/img/tshop-text1.png" logo-text width="156" height="48" viewBox="0 0 156 48" fill="none">
            <!-- <img src="assets/img/tshop-text1.png" logo> -->
        </tds-menu>
    </div>
    <!-- content -->
    <div class="flex-auto flex flex-col overflow-hidden tds-custom-scroll bg-light-50 h-full">
        <!-- header -->
        <div class="py-2 border-b text-body-2 font-regular text-neutral-1-700 bg-white">
            <tds-header class="bg-white"
                urlAvatar="https://randomuser.me/api/portraits/women/68.jpg">
                <div class="inline-flex tds-header-toolbar-right items-center">
                    <button tds-button-icon color="primary" class="!rounded-full mr-2">
                        <span class="flex items-center">
                            <i class="tdsi-plus-fill text-white"></i>
                        </span>
                    </button>
                    <button tds-flat-button-icon size="md" class="mr-2">
                        <span class="flex items-center">
                            <i class="tdsi-info-line"></i>
                        </span>
                    </button>
                    <button tds-flat-button-icon size="md" class="mr-2">
                        <span class="flex items-center">
                            <i class="tdsi-bell-line"></i>
                        </span>
                    </button>
                    <button tds-flat-button-icon size="md">
                        <span class="flex items-center">
                            <i class="tdsi-expand-line"></i>
                        </span>
                    </button>
                </div>

                <tds-form-field class="w-full">
                    <input tdsInput placeholder="search.." autocomplete="off" />
                    <span tdsPrefix><i class="text-neutral-1-500 tdsi-search-fill"></i></span>
                </tds-form-field>

                <tds-select [border]="false" valueField="id" textField="name" [data]="contactOptions"
                    [(ngModel)]="contact">
                </tds-select>
            </tds-header>
        </div>
        <!-- roulet -->
        <div class="overflow-hidden w-full h-full bg-neutral-3-50">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>