<div class="flex flex-col overflow-hidden">
    <!-- heading -->
    <div class="border-b border-b-neutral-2-100 bg-white">
        <div class="flex items-center text-neutral-1-400 text-caption-1 font-regular">
            <tds-page-header title="Nhắn tin">
                <tds-breadcrumb tds-page-header-breadcrumb>
                    <tds-breadcrumb-item>Trò chuyện</tds-breadcrumb-item>
                    <tds-breadcrumb-item>
                        <a>Nhắn tin</a>
                    </tds-breadcrumb-item>
                    <!-- <tds-breadcrumb-item>Third-level Menu</tds-breadcrumb-item> -->
                </tds-breadcrumb>
            </tds-page-header>
        </div>
    </div>
    <!-- message main -->
    <div class="flex overflow-hidden">
        <!-- danh sách tin nhắn -->
        <div class="w-96 flex flex-col overflow-hidden bg-white">
            <div class="px-4 pt-4">
                <div class="flex justify-center items-center border-b border-b-neutral-2-200 pb-4">
                    <tds-form-field class="w-full mr-2">
                        <input tdsInput class="text-neutral-1-600" placeholder="search.." autocomplete="off" />
                        <span tdsPrefix><i class="text-neutral-1-600 tdsi-search-fill"></i></span>
                    </tds-form-field>
                    <button tds-button-icon color="secondary" class="text-neutral-1-500">
                        <i class="tdsi-filter-2-line"></i>
                    </button>
                </div>
            </div>
            <div
                class="flex justify-between items-center py-4 px-4 text-body-2 font-medium truncate border-b border-b-neutral-2-200">
                <tds-checkbox size="md"></tds-checkbox>
                <tds-button-split size="sm" (clickButton)="onClickButton($event)" color="primary">
                    <span class="js-label">Thao tác</span>
                    <div class="js-content">
                        <button tds-button-menu-item>Item 1</button>
                        <button tds-button-menu-item>Item 2</button>
                    </div>
                </tds-button-split>
                <tds-select class="w-36" size="sm" valueField="id" textField="name" [ngModel]="pageSize"
                    placeholder='select item' [data]="listPageSize" (ngModelChange)="onChangePageSize($event)"
                    classIcon="tdsi-arrow-down-fill">
                </tds-select>
            </div>
            <div class="overflow-auto tds-custom-scroll">
                <div
                    class="flex py-4 px-4 justify-between bg-neutral-3-50 border-l-3 border-l-primary-1 cursor-pointer border-b border-b-neutral-2-200">
                    <div><img src="/assets/img/11Avatar.png" alt=""></div>
                    <div class="text-neutral-1-900 mx-2">
                        <h1 class="text-body-2 font-medium">Nguyễn Văn Huy</h1>
                        <p class="text-caption-1 text-neutral-1-900 font-regular mt-1">QUẬN ĐẸP TRAI DỄ THƯƠNG</p>
                    </div>
                    <div class="flex flex-col">
                        <span class="text-neutral-1-700 text-caption-2 font-regular mb-8">13:00</span>
                        <span
                            class="flex justify-center items-center w-7 h-4 rounded-10 bg-error-400 text-white text-caption-2 font-semibold">10</span>
                    </div>
                </div>
                <div
                    class="flex py-4 px-4 justify-between hover:bg-neutral-3-50 border-l-3 border-l-white hover:border-l-3 hover:border-l-primary-1 cursor-pointer border-b border-b-neutral-2-200">
                    <div><img src="/assets/img/11Avatar.png" alt=""></div>
                    <div class="text-neutral-1-900 mx-2">
                        <h1 class="text-body-2 font-medium">Nguyễn Văn Huy</h1>
                        <p class="text-caption-1 text-neutral-1-400 font-regular mt-1">QUẬN ĐẸP TRAI DỄ THƯƠNG</p>
                    </div>
                    <div class="flex flex-col">
                        <span class="text-neutral-1-700 text-caption-2 font-regular mb-8">13:00</span>
                        <span
                            class="flex justify-center items-center w-7 h-4 rounded-10 bg-error-400 text-white text-caption-2 font-semibold">10</span>
                    </div>
                </div>
                <div
                    class="flex py-4 px-4 justify-between hover:bg-neutral-3-50 border-l-3 border-l-white hover:border-l-3 hover:border-l-primary-1 cursor-pointer border-b border-b-neutral-2-200">
                    <div><img src="/assets/img/11Avatar.png" alt=""></div>
                    <div class="text-neutral-1-900 mx-2">
                        <h1 class="text-body-2 font-medium">Nguyễn Văn Huy</h1>
                        <p class="text-caption-1 text-neutral-1-400 font-regular mt-1">QUẬN ĐẸP TRAI DỄ THƯƠNG</p>
                    </div>
                    <div class="flex flex-col">
                        <span class="text-neutral-1-700 text-caption-2 font-regular mb-8">13:00</span>
                        <span
                            class="flex justify-center items-center w-7 h-4 rounded-10 bg-error-400 text-white text-caption-2 font-semibold">10</span>
                    </div>
                </div>
                <div
                    class="flex py-4 px-4 justify-between hover:bg-neutral-3-50 border-l-3 border-l-white hover:border-l-3 hover:border-l-primary-1 cursor-pointer border-b border-b-neutral-2-200">
                    <div><img src="/assets/img/11Avatar.png" alt=""></div>
                    <div class="text-neutral-1-900 mx-2">
                        <h1 class="text-body-2 font-medium">Nguyễn Văn Huy</h1>
                        <p class="text-caption-1 text-neutral-1-400 font-regular mt-1">QUẬN ĐẸP TRAI DỄ THƯƠNG</p>
                    </div>
                    <div class="flex flex-col">
                        <span class="text-neutral-1-700 text-caption-2 font-regular mb-8">13:00</span>
                        <span
                            class="flex justify-center items-center w-7 h-4 rounded-10 bg-error-400 text-white text-caption-2 font-semibold">10</span>
                    </div>
                </div>
                <div
                    class="flex py-4 px-4 justify-between hover:bg-neutral-3-50 border-l-3 border-l-white hover:border-l-3 hover:border-l-primary-1 cursor-pointer border-b border-b-neutral-2-200">
                    <div><img src="/assets/img/11Avatar.png" alt=""></div>
                    <div class="text-neutral-1-900 mx-2">
                        <h1 class="text-body-2 font-medium">Nguyễn Văn Huy</h1>
                        <p class="text-caption-1 text-neutral-1-400 font-regular mt-1">QUẬN ĐẸP TRAI DỄ THƯƠNG</p>
                    </div>
                    <div class="flex flex-col">
                        <span class="text-neutral-1-700 text-caption-2 font-regular mb-8">13:00</span>
                        <span
                            class="flex justify-center items-center w-7 h-4 rounded-10 bg-error-400 text-white text-caption-2 font-semibold">10</span>
                    </div>
                </div>
                <div
                    class="flex py-4 px-4 justify-between hover:bg-neutral-3-50 border-l-3 border-l-white hover:border-l-3 hover:border-l-primary-1 cursor-pointer border-b border-b-neutral-2-200">
                    <div><img src="/assets/img/11Avatar.png" alt=""></div>
                    <div class="text-neutral-1-900 mx-2">
                        <h1 class="text-body-2 font-medium">Nguyễn Văn Huy</h1>
                        <p class="text-caption-1 text-neutral-1-400 font-regular mt-1">QUẬN ĐẸP TRAI DỄ THƯƠNG</p>
                    </div>
                    <div class="flex flex-col">
                        <span class="text-neutral-1-700 text-caption-2 font-regular mb-8">13:00</span>
                        <span
                            class="flex justify-center items-center w-7 h-4 rounded-10 bg-error-400 text-white text-caption-2 font-semibold">10</span>
                    </div>
                </div>
                <div
                    class="flex py-4 px-4 justify-between hover:bg-neutral-3-50 border-l-3 border-l-white hover:border-l-3 hover:border-l-primary-1 cursor-pointer border-b border-b-neutral-2-200">
                    <div><img src="/assets/img/11Avatar.png" alt=""></div>
                    <div class="text-neutral-1-900 mx-2">
                        <h1 class="text-body-2 font-medium">Nguyễn Văn Huy</h1>
                        <p class="text-caption-1 text-neutral-1-400 font-regular mt-1">QUẬN ĐẸP TRAI DỄ THƯƠNG</p>
                    </div>
                    <div class="flex flex-col">
                        <span class="text-neutral-1-700 text-caption-2 font-regular mb-8">13:00</span>
                        <span
                            class="flex justify-center items-center w-7 h-4 rounded-10 bg-error-400 text-white text-caption-2 font-semibold">10</span>
                    </div>
                </div>
                <div
                    class="flex py-4 px-4 justify-between hover:bg-neutral-3-50 border-l-3 border-l-white hover:border-l-3 hover:border-l-primary-1 cursor-pointer border-b border-b-neutral-2-200">
                    <div><img src="/assets/img/11Avatar.png" alt=""></div>
                    <div class="text-neutral-1-900 mx-2">
                        <h1 class="text-body-2 font-medium">Nguyễn Văn Huy</h1>
                        <p class="text-caption-1 text-neutral-1-400 font-regular mt-1">QUẬN ĐẸP TRAI DỄ THƯƠNG</p>
                    </div>
                    <div class="flex flex-col">
                        <span class="text-neutral-1-700 text-caption-2 font-regular mb-8">13:00</span>
                        <span
                            class="flex justify-center items-center w-7 h-4 rounded-10 bg-error-400 text-white text-caption-2 font-semibold">10</span>
                    </div>
                </div>
                <div
                    class="flex py-4 px-4 justify-between hover:bg-neutral-3-50 border-l-3 border-l-white hover:border-l-3 hover:border-l-primary-1 cursor-pointer border-b border-b-neutral-2-200">
                    <div><img src="/assets/img/11Avatar.png" alt=""></div>
                    <div class="text-neutral-1-900 mx-2">
                        <h1 class="text-body-2 font-medium">Nguyễn Văn Huy</h1>
                        <p class="text-caption-1 text-neutral-1-400 font-regular mt-1">QUẬN ĐẸP TRAI DỄ THƯƠNG</p>
                    </div>
                    <div class="flex flex-col">
                        <span class="text-neutral-1-700 text-caption-2 font-regular mb-8">13:00</span>
                        <span
                            class="flex justify-center items-center w-7 h-4 rounded-10 bg-error-400 text-white text-caption-2 font-semibold">10</span>
                    </div>
                </div>
                <div
                    class="flex py-4 px-4 justify-between hover:bg-neutral-3-50 border-l-3 border-l-white hover:border-l-3 hover:border-l-primary-1 cursor-pointer border-b border-b-neutral-2-200">
                    <div><img src="/assets/img/11Avatar.png" alt=""></div>
                    <div class="text-neutral-1-900 mx-2">
                        <h1 class="text-body-2 font-medium">Nguyễn Văn Huy</h1>
                        <p class="text-caption-1 text-neutral-1-400 font-regular mt-1">QUẬN ĐẸP TRAI DỄ THƯƠNG</p>
                    </div>
                    <div class="flex flex-col">
                        <span class="text-neutral-1-700 text-caption-2 font-regular mb-8">13:00</span>
                        <span
                            class="flex justify-center items-center w-7 h-4 rounded-10 bg-error-400 text-white text-caption-2 font-semibold">10</span>
                    </div>
                </div>
                <div
                    class="flex py-4 px-4 justify-between hover:bg-neutral-3-50 border-l-3 border-l-white hover:border-l-3 hover:border-l-primary-1 cursor-pointer border-b border-b-neutral-2-200">
                    <div><img src="/assets/img/11Avatar.png" alt=""></div>
                    <div class="text-neutral-1-900 mx-2">
                        <h1 class="text-body-2 font-medium">Nguyễn Văn Huy</h1>
                        <p class="text-caption-1 text-neutral-1-400 font-regular mt-1">QUẬN ĐẸP TRAI DỄ THƯƠNG</p>
                    </div>
                    <div class="flex flex-col">
                        <span class="text-neutral-1-700 text-caption-2 font-regular mb-8">13:00</span>
                        <span
                            class="flex justify-center items-center w-7 h-4 rounded-10 bg-error-400 text-white text-caption-2 font-semibold">10</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- khung chat -->
        <div class="w-1/2 flex flex-col bg-neutral-3-200 overflow-hidden border-r border-r-neutral-2-200">
            <div
                class="flex h-16 justify-between items-center bg-white py-2 pl-4 pr-8 border-l border-l-neutral-2-200 border-r-neutral-2-200">
                <div class="flex">
                    <img src="/assets/img/11Avatar.png" alt="">
                    <div class="ml-2">
                        <h1 class="text-body-2 font-medium">Nguyễn Văn Huy</h1>
                        <span class="text-caption-1 font-regular text-neutral-1-400">Description</span>
                    </div>
                </div>
                <div class="flex justify-center items-center text-neutral-1-500">
                    <button tds-button-flat-icon color="secondary">
                        <i class="tdsi-call-fill"></i>
                    </button>
                    <button tds-button-flat-icon color="secondary" class="mx-2">
                        <i class="tdsi-video-camera-fill"></i>
                    </button>
                    <div>
                        <button tds-button-flat-icon color="secondary" [tdsbuttonMenuTriggerFor]="menu"
                            [tbuttonMenuTriggerRestoreFocus]="false">
                            <span class="flex items-center">
                                <i class="tdsi-three-dots-vertical-fill text-neutral-1-500"></i>
                            </span>
                        </button>
                        <tbutton-menu #menu="TDSButtonMenu">
                            <button tds-button-menu-item (click)="error()">chặn</button>
                            <button tds-button-menu-item>Profile khách hàng</button>
                        </tbutton-menu>
                    </div>
                </div>
            </div>
            <div class="bg-neutral-3-200 h-full overflow-hidden">
                <div class="py-4 h-full overflow-auto tds-custom-scroll">
                    <div class="flex justify-center items-center text-caption-2 font-regular text-neutral-1-400 mb-4">
                        <p>Thứ 2, 14-02-2020</p>
                    </div>
                    <div class="flex justify-start items-start ml-4">
                        <img class="mr-4 w-9 h-9" src="/assets/img/11Avatar.png" alt="">
                        <div class="relative">
                            <div
                                class="max-w-sm py-2 px-4 bg-white rounded-r-xl rounded-b-xl rounded-bl-xl text-body-2 font-regular text-neutral-1-900">
                                <p>Shop ơi cho hỏi sản phẩm này hiện tại bên mình còn không ạ, em mua</p>
                            </div>
                            <span class="absolute left-0 text-caption-2 font-regular text-neutral-1-400">16:20</span>
                        </div>
                    </div>
                    <div class="flex justify-end mr-4 mt-9" *ngFor="let data of messOfShop">
                        <div class="flex flex-col">
                            <div class="flex items-center">
                                <div class="flex items-center mr-3">
                                    <i *ngIf="data.status=='error'"
                                        class="tdsi-error-resend-line text-header-2 cursor-pointer text-error-400"></i>
                                    <div *ngIf="data.status=='success'">
                                        <i
                                            class="tdsi-three-dots-vertical-fill cursor-pointer text-header-2 text-neutral-1-400"></i>
                                        <i
                                            class="tdsi-reply-fill cursor-pointer text-header-2 text-neutral-1-400 mx-4"></i>
                                        <i
                                            class="tdsi-emotion-line cursor-pointer text-header-2 text-neutral-1-400"></i>
                                    </div>
                                </div>
                                <div
                                    class="max-w-sm py-2 px-4 bg-primary-1 text-white rounded-t-xl rounded-tr-xl rounded-bl-xl text-body-2 font-regular">
                                    <p>{{data.content}}</p>
                                </div>
                            </div>
                            <div class="flex justify-end">
                                <span *ngIf="data.status=='success'" class="text-caption-2 font-regular text-neutral-1-400">{{data.time}}</span>
                                <span *ngIf="data.status=='error'" class="text-caption-2 font-regular text-error-400">{{data.time}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-start ml-4 mt-9" *ngFor="let data of messOfCustomer">
                        <div>
                            <img class="mr-4 w-9 h-9" src="{{data.avatar}}" alt="">
                        </div>
                        <div class="flex flex-col">
                            <div>
                                <div
                                    class="max-w-sm py-2 px-4 bg-white rounded-r-xl rounded-b-xl rounded-bl-xl text-body-2 font-regular text-neutral-1-900">
                                    <p>{{data.content}}</p>
                                </div>
                            </div>
                            <span
                                class="left-0 text-caption-2 font-regular text-neutral-1-400">{{data.time}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-white h-40 relative">
                <textarea
                    class="resize-none focus:outline-none border-none w-full h-40 border border-white placeholder:text-body-2 placeholder:font-regular placeholder:text-neutral-1-700"
                    placeholder="Nhập nội dung tin nhắn"></textarea>
                <div class="absolute flex justify-between items-center bottom-7 px-4 right-0 left-0 w-full">
                    <div class="flex text-neutral-1-300">
                        <i class="tdsi-like-line mr-7 cursor-pointer text-header-2"></i>
                        <i class="tdsi-image-line mr-7 cursor-pointer text-header-2"></i>
                        <i class="tdsi-emotion-line mr-7 cursor-pointer text-header-2"></i>
                        <i class="tdsi-message-template-line mr-7 cursor-pointer text-header-2"></i>
                        <i class="tdsi-product-line cursor-pointer text-header-2"></i>
                    </div>
                    <div>
                        <button tds-button color="primary" rounded="!rounded-full">
                            <span class="flex items-center text-white">
                                <i class="tdsi-send-fill text-lg leading-none mr-2"></i>Gửi tin nhắn
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- thông tin khách hàng -->
        <div class="w-1/2 overflow-hidden">
            <tds-tabset class="bg-white dark:bg-d-neutral-3-200 dark:border-d-neutral-1-200 h-full overflow-hidden"
                [clsTab]="'flex-1'" [tabBarStyle]="{'padding-right':'0px','padding-left':'0px'}">
                <tds-tab [title]="titleCustomer"
                    clsContent="border-t border-neutral-2-200 dark:border-d-neutral-1-200 -mt-px h-full flex flex-col">
                    <ng-template #titleCustomer let-active="active">
                        <div class="flex items-center justify-center font-semibold cursor-pointer text-body-2 py-4 pr-4 mr-1 relative group"
                            [ngClass]='{"text-neutral-1-900 dark:text-d-neutral-1-900":active,"text-neutral-1-400 dark:text-d-neutral-1-400 hover:text-neutral-1-900 hover:dark:text-d-neutral-1-900":!active}'>
                            <span>Khách hàng</span>
                            <div [ngClass]="{'block':active,'hidden group-hover:block':!active}"
                                class="hidden border-b-3 border-primary-1 absolute left-0 right-0 bottom-0 bg-primary-1">
                            </div>
                        </div>
                    </ng-template>
                    <div class="w-full h-full bg-white dark:bg-d-neutral-3-200 p-4 overflow-auto tds-custom-scroll">
                        <div class="flex flex-col">
                            <div class="flex justify-between items-center px-4 py-4">
                                <div class="flex ">
                                    <div
                                        class="flex justify-center items-center h-6 w-6 text-white bg-primary-1 rounded-full mr-2">
                                        <i class="tdsi-user-fill"></i>
                                    </div>
                                    <h1 class="text-body-2 text-neutral-1-900 font-medium">Thông tin khách hàng</h1>
                                </div>
                                <div><i class="tdsi-arrow-down-line text-neutral-1-300 cursor-pointer"></i></div>
                            </div>
                            <div class="text-neutral-1-900 flex px-4">
                                <div class="mr-4"><img src="/assets/img/vang.png" alt=""></div>
                                <div>
                                    <div>
                                        <span class="text-title-1 font-medium">Nguyễn Văn Huy - </span><span
                                            class="text-title-1 font-medium text-primary-1">MH124124</span>
                                    </div>
                                    <div class="flex justify-start items-center">
                                        <i class="tdsi-star-2-fill text-primary-1"></i><span
                                            class="text-body-2 font-regular">1000</span>
                                    </div>
                                </div>
                            </div>
                            <div class="px-4">
                                <div class="text-neutral-1-900  flex text-body-2 font-regular border-b">
                                    <div class="w-1/2 py-5 mr-3">
                                        <div class="flex justify-start items-center mb-4">
                                            <i class="tdsi-call-fill mr-2 text-neutral-1-300 text-header-2"></i>
                                            <span>0941641408</span>
                                        </div>
                                        <div class="flex justify-start items-center">
                                            <i class="tdsi-location-fill mr-2 text-neutral-1-300 text-header-2"></i>
                                            <span>12 CN1, Sơn Kỳ, Tân Phú, Thành phố Hồ Chí Minh</span>
                                        </div>
                                    </div>
                                    <div class="w-1/2 py-5">
                                        <div class="flex justify-start items-center mb-4">
                                            <i class="tdsi-email-fill mr-2 text-neutral-1-300 text-header-2"></i>
                                            <span>Vanhuy20@gmail.com</span>
                                        </div>
                                        <div class="flex justify-start items-center">
                                            <i class="tdsi-facebook-2-fill mr-2 text-neutral-1-300 text-header-2"></i>
                                            <span class="text-info-500 font-semibold">fb.com/100021654132</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="px-4">
                                <div class="border-b">
                                    <div class="flex justify-between items-center py-6">
                                        <div class="flex ">
                                            <div
                                                class="flex justify-center items-center h-6 w-6 text-white bg-primary-1 rounded-full mr-2">
                                                <i class="tdsi-note-fill"></i>
                                            </div>
                                            <h1 class="text-body-2 text-neutral-1-900 font-medium">GHI CHÚ</h1>
                                        </div>
                                        <div><i class="tdsi-arrow-down-line text-neutral-1-300 cursor-pointer"></i>
                                        </div>
                                    </div>
                                    <div class="flex mb-3">
                                        <div class="w-3/4">
                                            <tds-form-field>
                                                <input tdsInput placeholder="nhập ghi chú" size="md" />
                                            </tds-form-field>
                                        </div>
                                        <div class="w-1/4">
                                            <button tds-button color="primary" size="md" class="ml-2 flex items-center">
                                                <i class="tdsi-note-fill text-white mr-3 text-header-2"></i>
                                                Thêm ghi chú
                                            </button>
                                        </div>
                                    </div>
                                    <div class="py-4 border-b">
                                        <div class="flex justify-between items-center mb-5">
                                            <div class="flex justify-start items-center">
                                                <div class="mr-3"><img src="/assets/img/22Avatar.png" alt=""></div>
                                                <div>
                                                    <p class="text-body-2 text-neutral-1-900 font-medium">Username
                                                        (admin)</p>
                                                    <p class="text-neutral-1-400 text-caption-1 font-regular">
                                                        <span>16:15</span><span>25-06-2021</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div><button tds-button-flat-icon color="secondary">
                                                    <i class="tdsi-trash-fill"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="font-regular text-neutral-1-900 text-body-2">
                                            <p>Đây là khách hàng vip, đã từng mua rất nhiều đơn hàng</p>
                                        </div>
                                    </div>
                                    <div class="py-4 border-b">
                                        <div class="flex justify-between items-center mb-5">
                                            <div class="flex justify-start items-center">
                                                <div class="mr-3"><img src="/assets/img/22Avatar.png" alt=""></div>
                                                <div>
                                                    <p class="text-body-2 text-neutral-1-900 font-medium">Username
                                                        (admin)</p>
                                                    <p class="text-neutral-1-400 text-caption-1 font-regular">
                                                        <span>16:15</span><span>25-06-2021</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div><button tds-button-flat-icon color="secondary">
                                                    <i class="tdsi-trash-fill"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="font-regular text-neutral-1-900 text-body-2">
                                            <p>Đây là khách hàng vip, đã từng mua rất nhiều đơn hàng</p>
                                        </div>
                                    </div>
                                    <div class="py-4">
                                        <div class="flex justify-between items-center mb-5">
                                            <div class="flex justify-start items-center">
                                                <div class="mr-3"><img src="/assets/img/22Avatar.png" alt=""></div>
                                                <div>
                                                    <p class="text-body-2 text-neutral-1-900 font-medium">Username
                                                        (admin)</p>
                                                    <p class="text-neutral-1-400 text-caption-1 font-regular">
                                                        <span>16:15</span><span>25-06-2021</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div><button tds-button-flat-icon color="secondary">
                                                    <i class="tdsi-trash-fill"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="font-regular text-neutral-1-900 text-body-2">
                                            <p>Đây là khách hàng vip, đã từng mua rất nhiều đơn hàng</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </tds-tab>
                <tds-tab [title]="titleOrder"
                    clsContent="border-t border-neutral-2-200 dark:border-d-neutral-1-200 h-full -mt-px flex flex-col overflow-hidden">
                    <ng-template #titleOrder let-active="active">
                        <div class="flex items-center font-semibold justify-center text-body-2 p-4 ml-1 relative group cursor-pointer"
                            [ngClass]='{"text-neutral-1-900 dark:text-d-neutral-1-900":active,"text-neutral-1-400 dark:text-d-neutral-1-400 hover:text-neutral-1-900 hover:dark:text-d-neutral-1-900":!active}'>
                            <span class="flex items-center">Đơn hàng</span>
                            <div [ngClass]="{'block':active,'hidden group-hover:block':!active}"
                                class="hidden border-b-3 border-primary-1 absolute left-0 right-0 bottom-0 bg-primary-1">
                            </div>
                        </div>
                    </ng-template>
                    <div class="w-full h-full p-4 overflow-auto tds-custom-scroll">
                        <div class="h-full">
                            <div class="flex pb-4">
                                <div class="w-1/2 flex justify-between items-center pr-2">
                                    <div class="flex justify-between items-center">
                                        <div
                                            class="flex justify-center items-center bg-primary-1 rounded-full w-6 h-6 mr-2">
                                            <i class="tdsi-note-fill text-white"></i>
                                        </div>
                                        <div>
                                            <p class="text-title-1">INV01238551</p>
                                        </div>
                                    </div>
                                    <div
                                        class="flex justify-center items-center text-body-2 text-neutral-1-300 w-28 h-6 bg-neutral-3-100 rounded-3xl">
                                        <p>Chờ xác nhận</p>
                                    </div>
                                </div>
                                <div class="w-1/2 flex items-center justify-end pr-4">
                                    <button tds-button-flat color="secondary">
                                        <span class="flex items-center text-primary-1">
                                            <i class="tdsi-reply-fill text-xl leading-5 mr-2"></i>Gửi đơn
                                        </span>
                                    </button>
                                    <i class="tdsi-arrow-up-line text-neutral-1-300 cursor-pointer"></i>
                                </div>
                            </div>
                            <div class="flex justify-between border-b border-neutral-2-200 py-3">
                                <div class="flex items-center">
                                    <div class="mr-2">
                                        <tds-avatar [shape]="'square'" [size]="'lg'" tdsSrc="error"></tds-avatar>
                                    </div>
                                    <div
                                        class="flex flex-col justify-between text-body-2 font-medium text-neutral-1-800">
                                        <p>INV51 - Giày hiphop</p>
                                        <div>
                                            <span>3.000.000</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex items-end">
                                    <p class="text-neutral-1-300 text-caption-2 font-regular">x 2</p>
                                </div>
                            </div>
                            <div class="flex justify-between border-b border-neutral-2-200 py-3">
                                <div class="flex items-center">
                                    <div class="mr-2">
                                        <tds-avatar [shape]="'square'" [size]="'lg'" tdsSrc="error"></tds-avatar>
                                    </div>
                                    <div
                                        class="flex flex-col justify-between text-body-2 font-medium text-neutral-1-800 truncate">
                                        <p>INV51 - Giày hiphop INV51 - Giày hiphopINV51 - Giày hiphopINV51 - Giày hiphop
                                        </p>
                                        <div>
                                            <span>3.000.000</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex items-end">
                                    <p class="text-neutral-1-300 text-caption-2 font-regular">x 2</p>
                                </div>
                            </div>
                            <div class="flex justify-between border-b border-neutral-2-200 py-3">
                                <div class="flex items-center">
                                    <div class="mr-2">
                                        <tds-avatar [shape]="'square'" [size]="'lg'" tdsSrc="error"></tds-avatar>
                                    </div>
                                    <div
                                        class="flex flex-col justify-between text-body-2 font-medium text-neutral-1-800">
                                        <p>INV51 - Giày hiphop</p>
                                        <div>
                                            <span>3.000.000</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex items-end">
                                    <p class="text-neutral-1-300 text-caption-2 font-regular">x 2</p>
                                </div>
                            </div>
                            <div class="flex py-4 text-body-2 font-regular text-neutral-1-900">
                                <div class="w-1/4">
                                    <p class="pb-4">4 sản phẩm</p>
                                    <p class="pb-4">chiếu khấu (%)</p>
                                    <p class="">Giảm giá</p>
                                </div>
                                <div class="w-1/4 font-medium">
                                    <p class="pb-4">9.000.000</p>
                                    <p class="pb-4">0</p>
                                    <p class="">0</p>
                                </div>
                                <div class="w-1/4">
                                    <p class="pb-4">Phí giao dịch</p>
                                    <p class="pb-4">Phí đặt cọc</p>
                                    <p class="text-title-1 font-medium">Tổng tiền</p>
                                </div>
                                <div class="w-1/4">
                                    <p class="pb-4">0</p>
                                    <p class="pb-4">0</p>
                                    <p class="text-title-1 font-medium text-primary-1">9.000.000</p>
                                </div>
                            </div>
                            <div class="flex pb-4 mt-2">
                                <div class="w-1/2 flex justify-between items-center pr-2">
                                    <div class="flex justify-between items-center">
                                        <div
                                            class="flex justify-center items-center bg-primary-1 rounded-full w-6 h-6 mr-2">
                                            <i class="tdsi-order-fill text-white"></i>
                                        </div>
                                        <div>
                                            <p class="text-title-1">INV01238551</p>
                                        </div>
                                    </div>
                                    <div
                                        class="flex justify-center items-center text-body-2 text-neutral-1-300 w-28 h-6 bg-neutral-3-100 rounded-3xl">
                                        <p>Chờ xác nhận</p>
                                    </div>
                                </div>
                                <div class="w-1/2 flex items-center justify-end pr-4">
                                    <button tds-button-flat color="secondary">
                                        <span class="flex items-center text-primary-1">
                                            <i class="tdsi-reply-fill text-xl leading-5 mr-2"></i>Gửi đơn
                                        </span>
                                    </button>
                                    <i class="tdsi-arrow-up-line text-neutral-1-300 cursor-pointer"></i>
                                </div>
                            </div>
                            <div class="flex pb-4 mt-2">
                                <div class="w-1/2 flex justify-between items-center pr-2">
                                    <div class="flex justify-between items-center">
                                        <div
                                            class="flex justify-center items-center bg-primary-1 rounded-full w-6 h-6 mr-2">
                                            <i class="tdsi-order-fill text-white"></i>
                                        </div>
                                        <div>
                                            <p class="text-title-1">INV01238551</p>
                                        </div>
                                    </div>
                                    <div
                                        class="flex justify-center items-center text-body-2 text-neutral-1-300 w-28 h-6 bg-neutral-3-100 rounded-3xl">
                                        <p>Chờ xác nhận</p>
                                    </div>
                                </div>
                                <div class="w-1/2 flex items-center justify-end pr-4">
                                    <button tds-button-flat color="secondary">
                                        <span class="flex items-center text-primary-1">
                                            <i class="tdsi-reply-fill text-xl leading-5 mr-2"></i>Gửi đơn
                                        </span>
                                    </button>
                                    <i class="tdsi-arrow-up-line text-neutral-1-300 cursor-pointer"></i>
                                </div>
                            </div>
                            <div class="flex pb-4 mt-2">
                                <div class="w-1/2 flex justify-between items-center pr-2">
                                    <div class="flex justify-between items-center">
                                        <div
                                            class="flex justify-center items-center bg-primary-1 rounded-full w-6 h-6 mr-2">
                                            <i class="tdsi-order-fill text-white"></i>
                                        </div>
                                        <div>
                                            <p class="text-title-1">INV01238551</p>
                                        </div>
                                    </div>
                                    <div
                                        class="flex justify-center items-center text-body-2 text-neutral-1-300 w-28 h-6 bg-neutral-3-100 rounded-3xl">
                                        <p>Chờ xác nhận</p>
                                    </div>
                                </div>
                                <div class="w-1/2 flex items-center justify-end pr-4">
                                    <button tds-button-flat color="secondary">
                                        <span class="flex items-center text-primary-1">
                                            <i class="tdsi-reply-fill text-xl leading-5 mr-2"></i>Gửi đơn
                                        </span>
                                    </button>
                                    <i class="tdsi-arrow-up-line text-neutral-1-300 cursor-pointer"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </tds-tab>
            </tds-tabset>
        </div>
    </div>
</div>