<div class="w-full h-full flex justify-center items-center overflow-hidden">
    <div class="w-2/5 overflow-hidden">
        <p class="text-heading-2 font-semibold text-neutral-1-900">Chọn cửa hàng của bạn</p>
        <p class="text-title-1 font-medium text-neutral-1-700">Có vẻ tài khoản này được dùng cho nhiều cửa hàng. hãy
            chọn cửa hàng bạn muốn truy cập</p>
        <div
            class="w-full h-96 bg-white shadow-lg border-neutral-2-200 rounded-xl mt-8 overflow-auto tds-custom-scroll">
            <div *ngFor="let data of listShop"
                class="flex justify-between items-center px-4 py-4 border-b border-b-neutral-2-300">
                <div class="flex items-center">
                    <div class="mr-3">
                        <tds-avatar size="lg" tdsSrc="error-link"></tds-avatar>
                        <img src="{{data.avatarUrl}}" alt="">
                    </div>
                    <div>
                        <a routerLink="/pages/trangchu"
                            class="text-title-1 font-medium text-neutral-1-900">{{data.name}}</a>
                        <p class="ml-1"><span class="text-caption-1 text-primary-3">{{data.phone}}</span> <span class="text-caption-2 text-neutral-1-300"> - Truy cập lần cuối: </span> <span
                                class="text-primary-3 text-caption-1">12 ngày</span></p>
                    </div>
                </div>
                <div>
                    <i class="tdsi-arrow-right-line text-neutral-1-300"></i>
                </div>
            </div>
        </div>
        <button routerLink="/account/dang-nhap/tao-shop-moi"
            class="flex justify-center items-center w-full text-body-2 font-medium mt-8" tds-button color="primary">
            <i class="tdsi-add-fill mr-2 text-header-2"></i>
            Đăng ký shop mới
        </button>
    </div>
</div>