<div class="w-full h-full flex flex-col">
    <div class="border-b border-b-neutral-2-100 bg-white">
        <div class="flex items-center text-neutral-1-400 text-caption-1 font-regular">
            <tds-page-header title="Đánh giá nhà vận chuyển">
                <tds-breadcrumb tds-page-header-breadcrumb>
                    <tds-breadcrumb-item>Đánh giá</tds-breadcrumb-item>
                    <tds-breadcrumb-item>
                        <a>Đánh giá nhà vận chuyển</a>
                    </tds-breadcrumb-item>
                    <!-- <tds-breadcrumb-item>Third-level Menu</tds-breadcrumb-item> -->
                </tds-breadcrumb>
            </tds-page-header>
        </div>
    </div>
    <div class="p-4 h-full w-full">
        <div class="border rounded-md bg-white pb-2 h-full flex flex-col">
            <div class="flex justify-between items-center px-4">
                <tds-filter-status [(ngModel)]='selected' (ngModelChange)="onModelChange($event)"
                    (selectChange)="onSelectChange($event)">
                    <ng-template ngFor let-item [ngForOf]="lstData" let-i="index">
                        <tds-filter-status-item [name]='item.name' [count]='item.count' [disabled]="item.disabled"
                            [value]="item.value">
                        </tds-filter-status-item>
                    </ng-template>
                </tds-filter-status>
                <tds-form-field class="w-96">
                    <span tdsAddOnLeft>
                        <button class="flex items-center" color="secondary" tds-dropdown trigger="click"
                            [tdsDropdownMenu]="menu">
                            <span class="flex items-center text-body-2 font-regular text-neutral-1-900">
                                Tên khách hàng
                                <i class="tdsi-arrow-down-fill text-lg leading-none ml-2"></i>
                            </span>
                        </button>
                        <tds-dropdown-menu #menu="tdsDropdownMenu">
                            <div class="w-full">
                                <div (click)="log('1st menu item')" tds-dropdown-item>
                                    <a> Nhà vận chuyển </a>
                                </div>
                                <div (click)="log('2 menu item')" tds-dropdown-item>
                                    <a> Mã đơn hàng </a>
                                </div>
                            </div>
                        </tds-dropdown-menu>
                    </span>
                    <input tdsInput autocomplete="off" placeholder="Nhập tên sản phẩm" [required]='true' />
                </tds-form-field>
            </div>
            <div class="w-full h-full">
                <tds-table #basicTable [listData]="listOfData" [scroll]="{y:'auto'}">
                    <thead>
                        <tr>
                            <th>Nhà vận chuyển</th>
                            <th>Mã đơn hàng</th>
                            <th>Khách hàng</th>
                            <th>Đánh giá</th>
                            <th>Nội dung</th>
                            <th>Ngày đánh giá</th>
                            <th>Trạng thái</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-template ngFor let-data [ngForOf]="basicTable.data" >
                            <tr>
                                <td>
                                    <div class="flex items-center">
                                        <div class="mr-2"><img src="/assets/img/logo 1.png" alt=""></div>
                                        <div>Giao hàng tiết kiệm</div>
                                    </div>
                                </td>
                                <td>{{data.orderCode}}</td>
                                <td>
                                    {{ data.name }}
                                    <div class="flex justify-start items-center">
                                        <i class="tdsi-call-fill text-neutral-1-500 mr-1"></i>
                                        <span class="text-neutral-1-400">{{data.numberphone}}</span>
                                    </div>
                                </td>
                                <td>
                                    <tds-rate [ngModel]="5" allowHalf></tds-rate>
                                </td>
                                <td>{{data.content}}</td>
                                <td>{{data.evaluatedate}}</td>
                                <td>
                                    <tds-tag *ngIf="data.status=='Chưa trả lời'" status='info' type="outline">
                                        {{data.status}}</tds-tag>
                                </td>
                                <td>
                                    <button tds-button-flat color="info">
                                        <span class="flex items-center"> Trả lời </span>
                                    </button>
                                    <span class="text-info-500">|</span>
                                    <button tds-button-flat
                                        color="info">
                                        <span class="flex items-center"> Báo cáo </span>
                                    </button>
                                </td>
                            </tr>
                        </ng-template>
                    </tbody>
                </tds-table>
            </div>
        </div>
    </div>
</div>