<div class="w-full h-full flex justify-center items-center">
    <div class="w-3/5 flex bg-white shadow-lg rounded-xl px-16">
        <div class="flex justify-center items-center w-1/2 py-16">
            <img src="/assets/img/new copy 1.png" alt="">
        </div>
        <div class="w-1/2 flex justify-center items-center py-24">
            <form [formGroup]="resetPassForm" (ngSubmit)="onSubmit" class="w-full shadow-md border border-neutral-2-200 rounded-md px-8 py-8 ">
                <h1 class="text-heading-2 font-semibold text-neutral-1-800 text-center mb-8">Đặt lại mật khẩu</h1>
                <label class="text-body-2 font-medium text-neutral-1-900" for="">Số điện thoại</label>
                <tds-form-field class="w-full mt-2">
                    <input tdsInput class="text-neutral-1-600" autocomplete="off" [required]="true" formControlName="numberPhone" />
                    <tds-error>Vui lòng nhập số điện thoại</tds-error>
                    <span class="flex items-center" tdsPrefix>
                        <div>
                            <img src="/assets/img/Frame 11143.png" alt="">
                        </div>
                        <tds-select valueField="id" textField="name" [ngModel]="pageSize" placeholder='select item'
                            [data]="listPageSize" (ngModelChange)="onChangePageSize($event)"
                            classIcon="tdsi-arrow-down-fill" [ngModelOptions]="{standalone: true}">
                        </tds-select>
                    </span>
                </tds-form-field>
                <button (click)="onSubmit" [disabled]="!resetPassForm.valid" routerLink="/account/quenmatkhau/nhap-ma-xac-minh" class="flex justify-center items-center w-full mt-8 text-title-1 font-medium" tds-button
                    color="primary">Tiếp tục</button>
            </form>
        </div>
    </div>
</div>