<div class="text-neutral-1-900 h-full ">
    <div class="flex bg-white justify-between items-center">
        <div>
            <tds-page-header title="Trang trí gian hàng">
                <tds-breadcrumb tds-page-header-breadcrumb>
                    <tds-breadcrumb-item>Quản lý shop</tds-breadcrumb-item>
                    <tds-breadcrumb-item>
                        <a>Trang trí gian hàng</a>
                    </tds-breadcrumb-item>
                    <!-- <tds-breadcrumb-item>Third-level Menu</tds-breadcrumb-item> -->
                </tds-breadcrumb>
            </tds-page-header>
        </div>
        <div class="px-4 flex items-center">
            <button tds-button color="primary">
                <span class="flex items-center">
                    Áp dụng
                </span>
            </button>
        </div>
    </div>
    <div class="p-4 flex justify-between h-full overflow-hidden">
        <div class=" h-full overflow-hidden">
            <div class="h-full overflow-auto tds-custom-scroll">
                <img src="/assets/img/Frame 11721.png" alt="">
            </div>
        </div>
        <div class=" h-full overflow-hidden">
            <div class="h-full overflow-auto tds-custom-scroll">
                <img src="/assets/img/Phone@1x.png" alt="">
            </div>
        </div>
        <div>
            <div class="text-header-1 font-medium border bg-white rounded-md">
                <div class="p-4 border-b">
                    <h1>Widget đang dùng</h1>
                </div>
                <div class="px-4 py-2 border-b">
                    <div class="flex justify-between items-center">
                        <div class="flex items-center mr-56">
                            <i class="tdsi-images-line text-neutral-1-300 mr-2"></i>
                            <span>Banner</span>
                        </div>
                        <tds-switch size="md"></tds-switch>
                        <div class="flex items-center">
                            <div class="flex text-neutral-1-500 ml-20">
                                <div class="w-8 h-8 border rounded-md flex justify-center items-center">
                                    <i class="tdsi-edit-fill"></i>
                                </div>
                                <div class="w-8 h-8 border rounded-md flex justify-center items-center ml-2">
                                    <i class="tdsi-trash-fill"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-4 py-2 border-b">
                    <div class="flex justify-between items-center">
                        <div class="flex items-center mr-56">
                            <i class="tdsi-images-line text-neutral-1-300 mr-2"></i>
                            <span>Banner</span>
                        </div>
                        <tds-switch size="md"></tds-switch>
                        <div class="flex items-center">
                            <div class="flex text-neutral-1-500 ml-20">
                                <div class="w-8 h-8 border rounded-md flex justify-center items-center">
                                    <i class="tdsi-edit-fill"></i>
                                </div>
                                <div class="w-8 h-8 border rounded-md flex justify-center items-center ml-2">
                                    <i class="tdsi-trash-fill"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-4 py-2 border-b">
                    <div class="flex justify-between items-center">
                        <div class="flex items-center mr-56">
                            <i class="tdsi-images-line text-neutral-1-300 mr-2"></i>
                            <span>Banner</span>
                        </div>
                        <tds-switch size="md"></tds-switch>
                        <div class="flex items-center">
                            <div class="flex text-neutral-1-500 ml-20">
                                <div class="w-8 h-8 border rounded-md flex justify-center items-center">
                                    <i class="tdsi-edit-fill"></i>
                                </div>
                                <div class="w-8 h-8 border rounded-md flex justify-center items-center ml-2">
                                    <i class="tdsi-trash-fill"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-4 py-2 border-b">
                    <div class="flex justify-between items-center">
                        <div class="flex items-center mr-56">
                            <i class="tdsi-images-line text-neutral-1-300 mr-2"></i>
                            <span>Banner</span>
                        </div>
                        <tds-switch size="md"></tds-switch>
                        <div class="flex items-center">
                            <div class="flex text-neutral-1-500 ml-20">
                                <div class="w-8 h-8 border rounded-md flex justify-center items-center">
                                    <i class="tdsi-edit-fill"></i>
                                </div>
                                <div class="w-8 h-8 border rounded-md flex justify-center items-center ml-2">
                                    <i class="tdsi-trash-fill"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-4 py-2 border-b">
                    <div class="flex justify-between items-center">
                        <div class="flex items-center mr-56">
                            <i class="tdsi-images-line text-neutral-1-300 mr-2"></i>
                            <span>Banner</span>
                        </div>
                        <tds-switch size="md"></tds-switch>
                        <div class="flex items-center">
                            <div class="flex text-neutral-1-500 ml-20">
                                <div class="w-8 h-8 border rounded-md flex justify-center items-center">
                                    <i class="tdsi-edit-fill"></i>
                                </div>
                                <div class="w-8 h-8 border rounded-md flex justify-center items-center ml-2">
                                    <i class="tdsi-trash-fill"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-4 py-2 border-b">
                    <div class="flex justify-between items-center">
                        <div class="flex items-center mr-56">
                            <i class="tdsi-images-line text-neutral-1-300 mr-2"></i>
                            <span>Banner</span>
                        </div>
                        <tds-switch size="md"></tds-switch>
                        <div class="flex items-center">
                            <div class="flex text-neutral-1-500 ml-20">
                                <div class="w-8 h-8 border rounded-md flex justify-center items-center">
                                    <i class="tdsi-edit-fill"></i>
                                </div>
                                <div class="w-8 h-8 border rounded-md flex justify-center items-center ml-2">
                                    <i class="tdsi-trash-fill"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-4 py-2">
                    <div class="flex justify-between items-center">
                        <div class="flex items-center mr-56">
                            <i class="tdsi-images-line text-neutral-1-300 mr-2"></i>
                            <span>Banner</span>
                        </div>
                        <tds-switch size="md"></tds-switch>
                        <div class="flex items-center">
                            <div class="flex text-neutral-1-500 ml-20">
                                <div class="w-8 h-8 border rounded-md flex justify-center items-center">
                                    <i class="tdsi-edit-fill"></i>
                                </div>
                                <div class="w-8 h-8 border rounded-md flex justify-center items-center ml-2">
                                    <i class="tdsi-trash-fill"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>